<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mbyte.easy.admin.mapper.CartMapper">
  <resultMap id="BaseResultMap" type="com.mbyte.easy.admin.entity.Cart">
      <id column="id" jdbcType="BIGINT" property="id" />
      <id column="userId" jdbcType="INTEGER" property="userId" />
      <id column="goodsId" jdbcType="INTEGER" property="goodsId" />
      <id column="goodsName" jdbcType="VARCHAR" property="goodsName" />
      <id column="goodsDec" jdbcType="VARCHAR" property="goodsDec" />
      <id column="goodsPrice" jdbcType="DECIMAL" property="goodsPrice" />
      <id column="goodsPic" jdbcType="VARCHAR" property="goodsPic" />
      <id column="storeId" jdbcType="INTEGER" property="storeId" />
      <id column="storeName" jdbcType="VARCHAR" property="storeName" />
      <id column="num" jdbcType="INTEGER" property="num" />
      <id column="status" jdbcType="INTEGER" property="status" />
      <id column="create_time" jdbcType="TIMESTAMP" property="createTime" />
      <id column="update_time" jdbcType="TIMESTAMP" property="updateTime" />

  </resultMap>
  <sql id="Base_Column_List">
              id,
      userId, goodsId, goodsName, goodsDec, goodsPrice, goodsPic, storeId, storeName, num, status, create_time, update_time
  </sql>

<!--注意:在打开下面注释的时候，在执行添加和更新操作时，一定要添加事物，否则会造成无法添加和更新-->
<!--
 <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_cart
       where id = #{id,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from  t_cart
       where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mbyte.easy.admin.entity.Cart">
    insert into t_cart (userId, goodsId, goodsName, goodsDec, goodsPrice, goodsPic, storeId, storeName, num, status, create_time, update_time)
    values (
         userId = #{userId,jdbcType=INTEGER},
         goodsId = #{goodsId,jdbcType=INTEGER},
         goodsName = #{goodsName,jdbcType=VARCHAR},
         goodsDec = #{goodsDec,jdbcType=VARCHAR},
         goodsPrice = #{goodsPrice,jdbcType=DECIMAL},
         goodsPic = #{goodsPic,jdbcType=VARCHAR},
         storeId = #{storeId,jdbcType=INTEGER},
         storeName = #{storeName,jdbcType=VARCHAR},
         num = #{num,jdbcType=INTEGER},
         status = #{status,jdbcType=INTEGER},
         create_time = #{createTime,jdbcType=TIMESTAMP},
         update_time = #{updateTime,jdbcType=TIMESTAMP}
    )
  </insert>

  <insert id="insertSelective" parameterType="com.mbyte.easy.admin.entity.Cart">
    insert into t_cart
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        userId,
      </if>
      <if test="goodsId != null">
        goodsId,
      </if>
      <if test="goodsName != null">
        goodsName,
      </if>
      <if test="goodsDec != null">
        goodsDec,
      </if>
      <if test="goodsPrice != null">
        goodsPrice,
      </if>
      <if test="goodsPic != null">
        goodsPic,
      </if>
      <if test="storeId != null">
        storeId,
      </if>
      <if test="storeName != null">
        storeName,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">

      <if test="userId != null">
        userId = #{userId,jdbcType=INTEGER},
      </if>

      <if test="goodsId != null">
        goodsId = #{goodsId,jdbcType=INTEGER},
      </if>

      <if test="goodsName != null">
        goodsName = #{goodsName,jdbcType=VARCHAR},
      </if>

      <if test="goodsDec != null">
        goodsDec = #{goodsDec,jdbcType=VARCHAR},
      </if>

      <if test="goodsPrice != null">
        goodsPrice = #{goodsPrice,jdbcType=DECIMAL},
      </if>

      <if test="goodsPic != null">
        goodsPic = #{goodsPic,jdbcType=VARCHAR},
      </if>

      <if test="storeId != null">
        storeId = #{storeId,jdbcType=INTEGER},
      </if>

      <if test="storeName != null">
        storeName = #{storeName,jdbcType=VARCHAR},
      </if>

      <if test="num != null">
        num = #{num,jdbcType=INTEGER},
      </if>

      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>

      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>

      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>

    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mbyte.easy.admin.entity.Cart">
    update t_cart
    <set>
       <if test="userId != null">
         userId = #{userId,jdbcType=INTEGER},
      </if>
       <if test="goodsId != null">
         goodsId = #{goodsId,jdbcType=INTEGER},
      </if>
       <if test="goodsName != null">
         goodsName = #{goodsName,jdbcType=VARCHAR},
      </if>
       <if test="goodsDec != null">
         goodsDec = #{goodsDec,jdbcType=VARCHAR},
      </if>
       <if test="goodsPrice != null">
         goodsPrice = #{goodsPrice,jdbcType=DECIMAL},
      </if>
       <if test="goodsPic != null">
         goodsPic = #{goodsPic,jdbcType=VARCHAR},
      </if>
       <if test="storeId != null">
         storeId = #{storeId,jdbcType=INTEGER},
      </if>
       <if test="storeName != null">
         storeName = #{storeName,jdbcType=VARCHAR},
      </if>
       <if test="num != null">
         num = #{num,jdbcType=INTEGER},
      </if>
       <if test="status != null">
         status = #{status,jdbcType=INTEGER},
      </if>
       <if test="createTime != null">
         create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
       <if test="updateTime != null">
         update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
       where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mbyte.easy.admin.entity.Cart">
    update t_cart
    set
        userId = #{userId,jdbcType=INTEGER},
        goodsId = #{goodsId,jdbcType=INTEGER},
        goodsName = #{goodsName,jdbcType=VARCHAR},
        goodsDec = #{goodsDec,jdbcType=VARCHAR},
        goodsPrice = #{goodsPrice,jdbcType=DECIMAL},
        goodsPic = #{goodsPic,jdbcType=VARCHAR},
        storeId = #{storeId,jdbcType=INTEGER},
        storeName = #{storeName,jdbcType=VARCHAR},
        num = #{num,jdbcType=INTEGER},
        status = #{status,jdbcType=INTEGER},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_time = #{updateTime,jdbcType=TIMESTAMP},

       where id = #{id,jdbcType=BIGINT}
  </update>
-->
</mapper>