<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="_meta :: header">
    <title>列表</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span>管理<span
            class="c-gray en">&gt;</span>列表<a class="btn btn-success radius r"
                                                style="line-height:1.6em;margin-top:3px"
                                                href="javascript:location.replace(location.href);" title="刷新"><i
                class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <form action="#" th:action="@{/admin/cart}" method="post">
        <div class="layui-body">
            <!-- 内容主体区域 -->
            <fieldset class="layui-elem-field">
                <legend>列表</legend>
                <div class="layui-field-box">

                    <hr style="margin: 0">
                    <div class="cl pd-5 bg-1 bk-gray">
						<span class="l">
						<a href="javascript:;"
                           onclick="deleteAll('/admin/cart/deleteAll')"
                           class="layui-btn  layui-btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
						<a href="javascript:;"
                           onclick="layer_show('添加','/admin/cart/addBefore',900,500)"
                           class="layui-btn  layui-btn-normal radius"><i class="Hui-iconfont">&#xe600;</i> 添加</a>
						</span>
                        <span class="r wei-height">共有数据：<strong th:text="${pageInfo.total}"></strong> 条</span>
                    </div>
                    <hr>

                    <div class="cl pd-5 bg-1 bk-gray ">
                        <div class="searchByField">
                                         <input type="input-text" class="input-text" th:value="${searchInfo.userId}" name="userId" placeholder="搜索" id="userId"/>
                                         <input type="input-text" class="input-text" th:value="${searchInfo.goodsId}" name="goodsId" placeholder="搜索" id="goodsId"/>
                                         <input type="input-text" class="input-text" th:value="${searchInfo.goodsName}" name="goodsName" placeholder="搜索" id="goodsName"/>
                                         <input type="input-text" class="input-text" th:value="${searchInfo.goodsDec}" name="goodsDec" placeholder="搜索" id="goodsDec"/>
                                         <input type="input-text" class="input-text" th:value="${searchInfo.goodsPrice}" name="goodsPrice" placeholder="搜索" id="goodsPrice"/>
                                         <input type="input-text" class="input-text" th:value="${searchInfo.goodsPic}" name="goodsPic" placeholder="搜索" id="goodsPic"/>
                                         <input type="input-text" class="input-text" th:value="${searchInfo.storeId}" name="storeId" placeholder="搜索" id="storeId"/>
                                         <input type="input-text" class="input-text" th:value="${searchInfo.storeName}" name="storeName" placeholder="搜索" id="storeName"/>
                                         <input type="input-text" class="input-text" th:value="${searchInfo.num}" name="num" placeholder="搜索" id="num"/>
                                         <input type="input-text" class="input-text" th:value="${searchInfo.status}" name="status" placeholder="搜索" id="status"/>
                                    <input type="input-text" placeholder="搜索创建时间" name="createTimeSpace" th:value="${createTimeSpace}" class="input-text  timeSpace" autocomplete="off"/>
                                    <input type="input-text" placeholder="搜索更新时间" name="updateTimeSpace" th:value="${updateTimeSpace}" class="input-text  timeSpace" autocomplete="off"/>
                            <button type="submit"
                                    class="layui-btn  layui-btn-success radius"><i
                                        class="Hui-iconfont">&#xe665;</i> 搜索
                            </button>
                        </div>
                    </div>

                    <table class="layui-table text-c">
                        <thead>
                        <tr class="text-c">
                            <th width="25"><input type="checkbox" name="" value=""/></th>
                            <th width="25">序号</th>
                                <th width="40"></th>
                                <th width="40"></th>
                                <th width="40"></th>
                                <th width="40"></th>
                                <th width="40"></th>
                                <th width="40"></th>
                                <th width="40"></th>
                                <th width="40"></th>
                                <th width="40"></th>
                                <th width="40"></th>
                                <th width="40"></th>
                                <th width="40"></th>
                            <th width="100">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="text-c" th:if="${pageInfo.list.size() == 0}">
                            <td colspan="15"><strong>暂无数据</strong></td>
                        </tr>
                        <tr class="text-c" th:each="cart,count:${pageInfo.list}">
                            <td><input type="checkbox" value="1" th:value="${cart.id}"
                                       name="id"/></td>
                            <td th:text="${count.count}"></td>
                                        <td th:text="${cart.userId}"></td>
                                        <td th:text="${cart.goodsId}"></td>
                                        <td th:text="${cart.goodsName}"></td>
                                        <td th:text="${cart.goodsDec}"></td>
                                        <td th:text="${cart.goodsPrice}"></td>
                                        <td th:text="${cart.goodsPic}"></td>
                                        <td th:text="${cart.storeId}"></td>
                                        <td th:text="${cart.storeName}"></td>
                                        <td th:text="${cart.num}"></td>
                                        <td th:text="${cart.status}"></td>
                                    <td th:text="${#temporals.format(cart.createTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                                    <td th:text="${#temporals.format(cart.updateTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                            <td class="td-manage">
                                <a title="编辑" href="javascript:;"
                                   th:onclick="'javascript:layer_show(\'编辑\',\'/admin/'+'cart'+'/editBefore/'+${cart.id}+'\',900,500)'"
                                   class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
                                <a title="删除" href="javascript:;"
                                   th:onclick="'javascript:deleteById(\'/admin/'+'cart'+'/delete/'+${cart.id}+'\')'"
                                   class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </fieldset>
        </div>
        <div th:include="_pagination :: page"></div>
    </form>
</div>
<!--_footer 作为公共模版分离出去-->
<div th:replace="_footer :: footerjs">
</div>
<!--/_footer 作为公共模版分离出去-->
<script>
    //日期时间范围选择
    laydate.render({

    });
    lay('.timeSpace').each(function(){
        laydate.render({
            elem: this
            ,type: 'datetime'
            ,range: true //或 range: '~' 来自定义分割字符
        });
    });

</script>
</body>
</html>